# deps
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env — NEVER commit this
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel
